@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #F1F1F1;
  --silver: #4848489E;
  --dark-gray: #323131;
  --deep-blue: #172983;
  --primary: #012644;
  --light-primary:#E5E9EC;
  --accent: #FFC13B;
  --light-white: #EBEBF0;
  --light-green: #53BE90;
  --pale-green: #F0F8F2;
  --off-white: #F6F6F6;
  /* was: lab(59.7% 11.8 -8.8 / 1) */

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-silver: var(--silver);
  --color-dark-gray: var(--dark-gray);
  --color-deep-blue: var(--deep-blue);
  --color-primary: var(--primary);
  --color-light-primary: var(--light-primary);
  --color-accent: var(--accent);
  --color-light-white: var(--light-white);
  --color-light-green: var(--light-green);
  --color-pale-green: var(--pale-green);
  --color-off-white: var(--off-white);
  --font-arizona: var(--font-arizona);
  --font-arizona-regular: var(--font-arizona-regular);
  --font-arizona-sans-regular: var(--font-arizona-sans-regular);
  --font-arizona-light: var(--font-arizona-light);
  --font-nobel: var(--font-nobel);
  --font-josefin-sans: var(--font-josefin-sans);
  --font-lato: var(--font-lato);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
  --font-maven-pro: var(--font-maven-pro);
  --font-nunito: var(--font-nunito);
  --font-oxygen: var(--font-oxygen);
  --font-roboto: var(--font-roboto);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nobel);
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .font-arizona {
    font-family: var(--font-arizona);
  }

  .font-arizona-regular {
    font-family: var(--font-arizona-regular);
  }

  .font-arizona-sans-regular {
    font-family: var(--font-arizona-sans-regular);
  }

  .font-arizona-light{
    font-family: var(--font-arizona-light);
  }

  .font-nobel {
    font-family: var(--font-nobel);
  }

  .font-josefin-sans {
    font-family: var(--font-josefin-sans);
  }

  .font-lato {
    font-family: var(--font-lato);
  }

  .font-noto-sans-jp {
    font-family: var(--font-noto-sans-jp);
  }

  .font-maven-pro {
    font-family: var(--font-maven-pro);
  }

  .font-nunito {
    font-family: var(--font-nunito);
  }

  .font-oxygen {
    font-family: var(--font-oxygen);
  }

  .font-roboto {
    font-family: var(--font-roboto);
  }
}

.animated-border {
  padding: 2px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    #012644,
    #FFC13BC2,
    #012644,
    #012644,
    #FFC13BC2,
    #012644
  );
  background-size: 250% 250%;
  animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 250% 50%;
  }
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to   { transform: translateY(0%);   }
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.28s cubic-bezier(0.32, 0.72, 0, 1) both;
  }
}

